HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
transaction-logs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Oracle image ###
src/main/resources/oracle/19.3.0/LINUX.X64_193000_db_home.zip
